.Result {
  margin: auto auto;
  box-sizing: border-box;
  border: 2px solid rgb(17, 16, 16);
  border-radius: 10px;
  background-color: rgba(245, 2, 2, 0.233);
  box-shadow: 0px 0px 6px rgb(219, 76, 76);
  /* width: auto; */
  width: 20%;

  /* height: 10%; */
  /* height: 20%; */
  /* height: 20%; */
  /* max-height: ; */
  /* max-height: 100px; */
  /* display: inline-block; */
  /* overflow: hidden; */
  margin: 2% 2%;
  font-size: 80%;
  /* max-block-size: 150px; */
  /* max-height: 10vh; */
  /* display: inline-table; */
  display: inline-block;
  vertical-align: text-top;
  transition: all 0.5s;
}

.ResultInner {
}

.Result:hover {
  margin: auto auto;
  box-sizing: border-box;
  border: 2px solid rgb(17, 16, 16);
  border-radius: 10px;
  background-color: rgba(245, 2, 2, 0.233);
  box-shadow: 0px 0px 20px rgb(219, 76, 76);
  /* width: auto; */
  width: 20%;
  /* height: 10%; */
  /* height: 20%; */
  /* height: 20%; */
  /* max-height: ; */
  /* max-height: 100px; */
  /* display: inline-block; */
  /* overflow: hidden; */
  margin: 2% 2%;
  font-size: 80%;
  /* max-block-size: 150px; */
  /* max-height: 10vh; */
  /* display: inline-table; */
  display: inline-block;
  vertical-align: text-top;
  transform: scale(1.05);
  transition: all 0.5s;
}

.Result img {
  padding: 4%;
  /* display: block; */
  box-sizing: border-box;
  width: 100%;
  /* max-height: 30%; */

  border: 2px solid rgb(223, 123, 123);
  border-radius: 10px;
  /* width: auto; */
}

.Result ul {
  padding: 0;
  display: block;
  text-align: center;
  margin: auto auto;
}

.Result li:first-child {
  font-weight: 800;
}

.Result li {
  list-style: none;
  border: 2px solid rgb(223, 123, 123);
  border-radius: 10px;
  margin: 2% 2%;
  height: 100%;
  font-size: 12px;
  /* padding-bottom: 5%; */
  /* text-align: center; */
  /* box-sizing: border-box; */
  padding: 3%;
}

@media only screen and (max-width: 700px) {
  .Result li {
    font-size: 8px;
  }
}

@media only screen and (max-width: 465px) {
  .Result li {
    font-size: 7px;
  }
}

@media only screen and (max-width: 420px) {
  .Result {
    margin: auto auto;
    box-sizing: border-box;
    border: 2px solid rgb(17, 16, 16);
    background-color: rgba(245, 2, 2, 0.233);
    /* width: auto; */
    width: 25%;
    /* height: 10%; */
    /* height: 20%; */
    /* height: 20%; */
    /* max-height: ; */
    /* max-height: 100px; */
    /* display: inline-block; */
    /* overflow: hidden; */
    margin: 2% 2%;
    font-size: 80%;
    /* max-block-size: 150px; */
    /* max-height: 10vh; */
    /* display: inline-table; */
    display: inline-block;
    /* vertical-align: text-top; */
  }

  .Result li {
    font-size: 5px;
  }
}
