.Sidebar p:last-child {
  overflow-y: scroll;
}

.Sidebar {
  /* display: none; */
  width: 25%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  offset-block-end: auto;
  left: 0%;
  /* bottom: 0; */
  right: 0;
  /* offset: 10%; */
  height: 100vh;
  /* width: 30%; */
  background-color: rgba(0, 0, 0, 0.753);
  /* position: fixed; */
  /* display: block; */
  /* box-sizing: border-box; */
  z-index: 1;
  /* display: flex; */
  /* --offset: -50px; */
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  position: fixed;
  /* top: var(--offset); */
  transition: all 1.8s;
}

.Sidebar iframe {
  width: 90%;
  margin: 5%;

  /* box-sizing: initial; */
  border: 2px solid rgba(255, 255, 255, 0.301);
  /* margin: 5% 5%; */
  padding: 2.5% 2.5%;
}

.MovieOverview {
  font-size: 90%;
  padding: 0 5%;
  text-align: justify;
}

.SidebarNone {
  /* display: none; */
  width: 0%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  offset-block-end: auto;
  left: -100%;
  /* bottom: 0; */
  right: 0;
  /* offset: 10%; */
  height: 100vh;
  /* width: 30%; */
  background-color: rgba(0, 0, 0, 0.753);
  /* position: fixed; */
  /* display: block; */
  /* box-sizing: border-box; */
  z-index: 1;
  /* display: flex; */
  /* --offset: -50px; */
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  position: fixed;
  /* top: var(--offset); */
  transition: all 1.8s;
  text-align: left;
}

.SocialIcon {
  margin: 2%;
}

.SocialIcons {
  padding: 5% 0;
}

@font-face {
  font-family: "MyWebFont2";
  src: url("../../assets/fonts/Chicago3D.ttf") format("truetype");
}
.MovieName {
  /* box-sizing: border-box; */
  font-size: 250%;
  margin: 0;
  padding: 3% 2%;
  font-family: "MyWebFont2";
}

.Icon {
  margin-top: 3%;
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid white;
  color: "white";
  font-size: 150%;
  position: relative;
  /* padding-top: 4%; */
  left: 40%;
  cursor: pointer;
}
.Frame {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .Sidebar {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    offset-block-end: auto;
    left: 0;
    /* bottom: 0; */
    right: 0;
    /* offset: 10%; */
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.753);
    /* position: fixed; */
    /* display: block; */
    /* box-sizing: border-box; */
    z-index: 1;
    /* display: flex; */
    /* --offset: -50px; */
    align-self: start;
    position: fixed;
    /* top: var(--offset); */
    transition: all 1.8s;
  }

  .SidebarNone {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    offset-block-end: auto;
    left: -100%;
    /* bottom: 0; */
    right: 0;
    /* offset: 10%; */
    height: 100vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.753);
    /* position: fixed; */
    /* display: block; */
    /* box-sizing: border-box; */
    z-index: 1;
    /* display: flex; */
    /* --offset: -50px; */
    align-self: start;
    position: fixed;
    /* top: var(--offset); */
    transition: all 1.8s;
  }
  .MovieOverview {
    padding: 0 5%;
    font-size: 90%;
    text-align: justify;
  }
}

@media (max-width: 1300px) and (min-width: 700px) {
  .Sidebar {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    offset-block-end: auto;
    left: 0;
    /* bottom: 0; */
    right: 0;
    /* offset: 10%; */
    height: 100vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.753);
    /* position: fixed; */
    /* display: block; */
    /* box-sizing: border-box; */
    z-index: 1;
    /* display: flex; */
    /* --offset: -50px; */
    align-self: start;
    position: fixed;
    /* top: var(--offset); */
    transition: all 1.8s;
  }

  .SidebarNone {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    offset-block-end: auto;
    left: -100%;
    /* bottom: 0; */
    right: 0;
    /* offset: 10%; */
    height: 100vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.753);
    /* position: fixed; */
    /* display: block; */
    /* box-sizing: border-box; */
    z-index: 1;
    /* display: flex; */
    /* --offset: -50px; */
    align-self: start;
    position: fixed;
    /* top: var(--offset); */
    transition: all 1.8s;
  }
  .MovieOverview {
    padding: 0 5%;
    font-size: 90%;
    text-align: justify;
  }

  .Sidebar p:last-child {
    overflow-y: scroll;
  }
}
